<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Rentals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><% user.rentals.each do |rental| %>
          <%= rental.film_id %>
          <%= ',' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
