<%= @user.email %>

<h1> Current rentals </h1>

<table>
  <thead>
    <tr>
      <th>Film</th>
      <th>Date rented</th>
      <th> Date Due </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= Film.find_by(id: rental.film_id).title %></td>
        <td><%= rental.created_at %></td>
        <td><%= rental.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
